svg {
  fill: currentColor;
  height: 1.5em;
  width: 1.5em;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

header #search {
  min-width: 350px;
}

article {
  margin: 4em 0;
}

.back-home {
  display: inline-flex;
  align-content: center;
}

.image {
  margin: 1em 0;
}
.image--markdown {
}

.image--fallback {
  align-items: center;
  aspect-ratio: 16/9;
  background: var(--background);
  display: flex;
  justify-content: center;
  width: 100%;
}

/* PAGINATION */
.pagination {
  border-top: 1px solid var(--border);
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 1em 0;
}

.pagination__link {
  align-items: center;
  display: inline-flex;
  white-space: nowrap;
  width: 100%;
}

.pagination__link--first {
  justify-content: flex-start;
}
.pagination__link--last {
  justify-content: flex-end;
}

/* Search widget styling */
.aa-Input {
  margin-bottom: unset;
}

.aa-SubmitButton:hover {
  background-color: unset;
}
